@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600);
@import '../../../public/clear.scss';

// ---------------------------------------------------------------------------

._container {
    max-width: 1374px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 0px 15px;
    box-sizing: content-box;
}

.view-all-button {
    width: 105px;
    height: 44px;
    background: #f4fff8;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #49c243;
    transition: all .2s ease 0s;
    &:hover{
        color: #49c243;
        background-color: #e2e9e1;
        transition: all .2s ease 0s;
    }
    & img{
        width: 20px;
        height: 20px;
    }
    @media (max-width: 767px){
        &{
            width: 44px;
            height: 44px;
            margin: 0px 0px 0px 20px;
        }
        
        & span{
            display: none;
        }
    }
} 
.card-image {
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #717171;
}

// ---------------------------------------------------------------------------



/*----MAIN-------------------------------------------------------------------------------------------------------*/

.main {
    flex: 1 1 auto;
}

/*----TOP-BLOCK---------------------------------------------------------------------*/

.top-block {
    position: relative;
    background: #F9F9F9;
    border-radius: 0px 0px 54px 54px; 
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        overflow: hidden;
        border-radius: 0px 0px 2vw 2vw;
        & video{
            width: 100vw;
        }
    }
    @media (max-width: 767px){
        margin: 0px 0px 70vw 0px;
    }
    @media (max-width: 600px){
        margin: 0px 0px 70vw 0px;
    }
    @media (max-width: 361px){
        margin: 0px 0px 80vw 0px;
    }
    &__body{
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        padding: 23vw 0px 23vw 0px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        .top-block__title {
            font-weight: 600;
            font-size: 3vw;
            line-height: 130%;
            @media (max-width: 767px){
                &{
                    font-size: 5vw;
                }
            }
        }
        .top-info {
            position: absolute;
            bottom: 2vw;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            padding: 8px;
            background-color: #fff;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 767px) {
                & {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5vw;
                    width: 50vw;
                    margin: 0 auto 0 auto;
                    bottom: -65vw;
                    box-shadow: 0px 0px 10px #717171;
                }
            }
            @media (max-width: 600px){
                bottom: -70vw;
            }
            @media (max-width: 361px){
                bottom: -90vw;
            }
            &__item{
                &.price-slider{
                    width: 26vw;
                }
                width: 17vw;
                display: flex;
                align-items: center;
                gap: 0.7vw;
                padding: 16px 20px 16px 16px;
                & img{
                    width: 24px;
                    height: 24px;
                }
                @media (max-width: 992px){
                    &{
                       padding: 0px 5px 0px 10px; 
                    }
                }
                @media (max-width: 767px){
                    &{
                        width: 100%;
                    }
                }
                .top-info__content {
                    width: 100%;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    @media (max-width: 767px){
                        &{
                            margin: 0px 0px 0px 1vw;
                        }
                    }
                }
                .top-info__title {
                    color: #5B5B5B;
                    font-weight: 300;
                    font-size: 0.7vw;
                    line-height: 115%;
                }
                .css-b62m3t-container{
                    width: 100%;
                }
                .css-18gh46y-singleValue{
                    font-size: 1vw;
                }
                .css-1nmdiq5-menu{
                    font-size: 0.7vw;
                }
                .react-datepicker__input-container{
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width: 767px){
                    .css-18gh46y-singleValue{
                        font-size: 2vw;
                    }
                    .css-1nmdiq5-menu{
                        font-size: 2vw;
                    }
                }

                @media (max-width: 1100px){
                    .top-info__title{
                        font-size: 1.3vw;
                    }
                    .top-info__select{
                        font-size: 1.4vw;
                    }
                }
                @media (max-width: 767px){
                    .top-info__title{
                        font-size: 2.3vw;
                    }
                    .top-info__select{
                        font-size: 2.4vw;
                    }
                }
            }
            .top-info__button {
                cursor: pointer;
                width: 60px;
                height: 60px;
                background: #26bd20;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .2s ease 0s;
                &:hover{
                    background-color: #155b00;
                    transition: all .2s ease 0s; 
                }
                & img{
                    width: 24px;
                    height: 24px;
                }
                @media (max-width: 767px) {
                    & {
                        width: 100%;
                        height: 8vw;
                        & img{
                            width: 5vw;
                            height: 5vw;
                        }
                    }
                }
            }
        }
    }
}

/*-----DESTINATIONS-BLOCK----------------------------------------------------------------------------------------------------*/

.destinations {
    padding: 60px 0px;
    margin: 60px 0px 0px 0px;
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: #161414;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__list {
        display: flex;
        gap: 32px;
        margin: 64px 0px 0px 0px;
        @media (max-width: 992px) {
            & {
                margin: 24px 0px 0px 0px;
                justify-content: space-between;
                gap: none;
            }
        }
        @media (max-width: 772px) {
            & {
                justify-content: center;
                gap: 5px;
            }
        }
        .destinations__item{
            &_title {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #161414;
                margin: 8px 0px 0px 0px;
            }
            &_subtitle {
                font-size: 13px;
                line-height: 150%;
                color: #979797;
            }
        }
    }
}
/*-----HOTELS-BLOCK----------------------------------------------------------------------------------------------------*/

.hotels {
    padding: 60px 0px;
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: #161414;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 32px;
        margin: 64px 0px 0px 0px;
        @media (max-width: 992px) {
            & {
                margin: 24px 0px 0px 0px;
                justify-content: center;
            }
        }
        .hotels__item {
            width: 17vw;

            &_photo {
                position: relative;
                object-fit: cover;
                border-radius: 25px;

                & .booking {
                    border-radius: 25px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;

                    & p {
                        line-height: 30px;
                        color: #fff;
                        font-size: 24px;
                        text-align: center;
                    }
                }

                &:hover .booking {
                    opacity: 1;
                }

                & img {
                    object-fit: cover;
                }

                .hotels__item_mark {
                    position: absolute;
                    z-index: 2;
                    top: 1vw;
                    right: 1vw;
                    width: 2.2vw;
                    height: 2.2vw;
                    background-color: rgb(0, 0, 150);
                    border-radius: 30%;
                    box-shadow: 0px 0px 10px #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &_text {
                padding: 0px 0px 0px 0.3vw;
            }

            &_title {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #161414;
                margin: 8px 0px 0px 0px;
            }

            &_subtitle {
                font-size: 13px;
                line-height: 150%;
                color: #979797;
            }

            &_location {
                display: flex;
                gap: 5px;
                width: 70%;

                & img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

/*-----TOURS-BLOCK----------------------------------------------------------------------------------------------------*/

.tours {
    padding: 60px 0px;
    @media (max-width: 992px){
        & {
            margin: 0px 0px 60px 0px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: #161414;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 32px;
        margin: 64px 0px 0px 0px;
        @media (max-width: 992px) {
            & {
                margin: 24px 0px 0px 0px;
                justify-content: center;
            }
        }
        .tours__item {
                width: 17vw;
                position: relative;
                &_photo {
                    position: relative;
                    & .booking {
                        border-radius: 25px;
                        position: absolute;
                        z-index: 3;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                        & p {
                            line-height: 30px;
                            color: #fff;
                            font-size: 24px;
                            text-align: center;
                        }
                    }
                    &:hover .booking {
                        opacity: 1;
                    }
                    & .total-price{
                        position: absolute;
                        z-index: 3;
                        top: -22%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 15%;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: opacity 0.3s ease-in-out;
                        & span {
                            line-height: 30px;
                            color: #fff;
                            font-size: 14px;
                            text-align: center;
                        }
                        &_text span{
                            color: rgb(255, 0, 0);
                        }
                        & img{
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            bottom: -60%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &:hover .total-price {
                        opacity: 1;
                    }
                    & img {
                        width: 100%;
                        object-fit: cover;
                    }
                    .tours__item_price {
                        position: absolute;
                        z-index: 2;
                        top: 0.7vw;
                        right: 0.7vw;
                        width: 6vw;
                        height: 2.2vw;
                        background-color: rgb(150, 0, 0);
                        border-radius: 10px;
                        box-shadow: 0px 0px 10px #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &_text {
                    padding: 0px 0px 0px 0.3vw;
                }

                &_title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: #161414;
                    margin: 8px 0px 0px 0px;

                    min-height: 50px;
                }

                &_subtitle {
                    font-size: 13px;
                    line-height: 150%;
                    color: #979797;
                }

                &_location {
                    width: 100%;
                    margin: 5px 0px 0px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.5vw;
                    &-item{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        & img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
    }
}

/*-----ABOUT-US-BLOCK----------------------------------------------------------------------------------------------------*/


.about-us {
    padding: 60px 0px;
    margin: 0px 0px 60px 0px;
    &__image {
        border-radius: 25px;
        box-shadow: 0px 0px 10px #717171;
        width: 100vw;
        height: 20vw;
        background: url('../../assets/images/about-us/about-us.png') 0 0/cover no-repeat;
    }
    @media (max-width: 992px) {
        & {
            display: none;
        }
    }
    &__container {
        max-width: 1144px;
        display: flex;
        align-items: center;
        gap: 32px;
        .about-us__content{
            .about-us__title {
                font-weight: 600;
                font-size: 32px;
                line-height: 150%;
                color: #161414;
            }
            .about-us__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;
                color: #5B5B5B;
                margin: 32px 0px;
            }
            .about-us_button {
                font-size: 16px;
                line-height: 150%;
                color: #49c243;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 4px;
                width: 133px;
                height: 44px;
                background: #f4fff8;
                border-radius: 12px;
                transition: all .2s ease 0s;
                &:hover{
                    background-color: #e2e9e1;
                    transition: all .2s ease 0s;
                }
                & img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}