.footer {
    background-color: #F9F9F9;
    min-height: 403px;
    width: 100%;
    padding: 120px 0px;
    @media (max-width: 992px) {
        & {
            padding: 50px 5px;
        }
    }

    @media (max-width: 767px) {
        & {
            min-height: 300px;
        }
    }
    .footer__container {
        color: #161414;
        display: flex;
        gap: 64px;
        @media (max-width: 992px) {
            & {
                display: block;
            }
        }
    }
}

/* ---FOOTER_INFO--------------------- */

.footer__info {
    width: 25.799419%;
    @media (max-width: 992px) {
        & {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    } 
    .footer__logo {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        &::before{
           width: 20px;
            height: 20px;
            background: url('../../assets/icons/logo.png') 0 0/cover no-repeat;
            position: absolute;
            top: -5px;
            right: -20px;
            content: ''; 
        }
    }
    .footer__info_subtitle {
        color: #5B5B5B;
        font-size: 13px;
        line-height: 153%;
        margin: 16px 0px 32px 0px;
        @media (max-width: 992px) {
            & {
                display: none;
            }
        }
    }
}

/* ---FOOTER-MAIN--------------------- */

.down-info {
    width: 36%;
    display: flex;
    gap: 2vw;
    justify-content: center;
    @media (max-width: 992px) {
        & {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            gap: 0;
            margin: 20px 0px 20px 0px;
        }
    }
    @media (max-width: 767px) {
        & {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 30px 0px 0px 0px;
        }
    }
    &__item {
        width: 24.752475%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 767px){
            &{
                width: 60vw;
            }
        }
    }
    .down-info__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin: 0px 0px 20px 0px;
        text-align: center;
        @media (max-width: 767px){
            &{
                margin: 7vw 0px 4vw 0px;
            }
        }
    }
    .down-info__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        .down-info__link {
            font-size: 13px;
            line-height: 153%;
            color: #5B5B5B;
            transition: all .3s ease 0s;
            &:not(:last-child) {
                margin: 0px 0px 12px 0px;
            }
            &:hover{
                color: #464646;
                text-decoration: underline;
                transition: all .3s ease 0s;
            }
            @media (max-width: 767px) {
                & {
                    font-size: 16px;
                }
            }
        }
    }
}
/* ---FOOTER-SUBSCRIBE--------------------- */

.footer-email {
    width: 28.197674%;
    max-height: 146px;
    @media (max-width: 992px) {
        & {
            width: 100%;
        }
    }
    @media (max-width: 767px){
        &{
            margin: 8vw 0px 0px 0px;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin: 0px 0px 20px 0px;
        @media (max-width: 992px) {
            & {
                margin: 0px 0px 10px 0px;
            }
        }
        @media (max-width: 772px) {
            & {
                display: none;
            }
        }
    }
    &__fill {
        .footer-form__button {
            cursor: pointer;
            height: 72px;
            width: 100%;
            background-color: #26bd20;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            transition: all .2s ease 0s;
            color: #fff;
            font-weight: 600;
            font-size: 1vw;
            &:hover {
                background-color: #155b00;
                transition: all .2s ease 0s;
            }
            @media (max-width: 992px) {
                & {
                    height: 50px;
                    width: 100%;
                    font-size: 3vw;
                }
            }
        }
    }
}