.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 30vw;
    padding: 2vw;
    border: 2px solid black;
    border-radius: 25px;
}