.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.no-page{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4vw;
  font-weight: 700;
  color: rgb(193, 0, 0);
}

